// @import "./scss/_fonts.css";
// // @import "./scss/_all.css";
// @import "./scss/reset.css";
// @import "./scss/style.scss";
@import '~antd/dist/antd.css';

#root {
  min-height: 100%;
  height: 100%;
}
html, body {
  min-height: 100%;
  height: 100%;
}

//Editor
div.DraftEditor-root {
  border: 1px solid #000;
  background-color: beige;
  height: 200px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:focus {
    border-color: #40a9ff;
    border-right-width: 1px;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  &:hover {
    border-color: #40a9ff;
    border-right-width: 1px;
  }
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
.ant-form-item-control.has-error {
  .DraftEditor-root {
    background-color: #fff;
    border-color: #f5222d;
  }
}

.ant-card {
  &.ant-card--active {
    background: #f6ffed;
    .ant-card-actions {
      background: #f6ffed;
      border-top: 1px solid #b7eb8f;
    }
    .ant-card-head {
      border-bottom: 1px solid #b7eb8f;
    }
  }
  &.ant-card--draft {
    background-color: #fffbe6;
    .ant-card-actions {
      background-color: #fffbe6;
      border-top: 1px solid #ffe58f;
    }
    .ant-card-head {
      border-bottom: 1px solid #ffe58f;
    }
  }
}