//colors
$bgcolor-head: #f5f5f5;
$color-chats-header: #039be5;
//other
$radius-main: 8px;

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.chat {
  border-radius: $radius-main;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  overflow: hidden;
  height: 600px;
}

.search { 
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_header {
  padding: 0 16px;
  padding-top: 16px;
  color: rgba(0,0,0,.87);
  background: $bgcolor-head;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.search_avatar {
  @extend .avatar;
}

.search_input {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  padding: 8px 16px; 
  border-radius: 18px;
  border: 1px solid rgba(0,0,0,.12);
  background: #fafafa;
  overflow: hidden;
  &:focus {
    outline: none;
    border: 1px solid rgba(0,135,214,.5);
  }
}

.chats_list {
  overflow: scroll;
}

.chats_header {
  padding-left: 16px;
  font-size: 20px;
  font-weight: 300;
  height: 88px;
  line-height: 88px;
  color: $color-chats-header;
}

.chats_item {
  white-space: normal;
  text-align: left;
  letter-spacing: .01em;
  min-height: 88px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 16px;
  display: flex; 
  align-items: center;
  color: rgba(0,0,0,.87);
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,.04);
  }
}

.chats_avatar {
  @extend .avatar;
}

.chats_username {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.chats_last_message {
  color: rgba(0,0,0,.54);
  margin: 0;
  max-width: 220px;
  overflow: hidden;
  height: 21px;
  text-overflow: ellipsis;
}

.chats_info {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chats_time {
  font-size: 12px;
  margin-top: 4px;
}

.chats_unread {
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;    
  background-color: #039be5;
  color: #ffffff;
  display: block;
}

.messages {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid rgba(0,0,0,.12);
}

.messages_header {
  background: $bgcolor-head;
  min-height: 64px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  flex-direction: row;
  display: flex;
  height: 64px;
  padding: 0 16px;
  align-items: center;
  white-space: nowrap;
}

.messages_header_user {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: rgba(0,0,0,.87);
}

.messages_header_avatar {
  @extend .avatar;
}

.messages_header_username {
  margin-bottom: 0;
  font-weight: 400;
}

.messages_footer {
  border-top: 1px solid rgba(0,0,0,.12);
  padding: 24px 16px 24px 24px;
  background: #f5f5f5;
}

.message_input {
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,.12);
  background-color: #fff;
  line-height: 18px;
  overflow: hidden;
  padding: 16px 48px 16px 16px;
  width: calc(100% - 64px);
  caret-color: #3c4252;
  resize: none;
  width: 100%;
  &:focus {
    outline: none;
    border: 1px solid rgba(0,135,214,.5);
  }
}

.messages_box {
  // overflow: scroll;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages_item {
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 20px;
  position: relative;
}



.messages_item_avatar {
  @extend .avatar;
  position: absolute;
}

.messages_item_text {
  background-color: #3c4252;
  color: #fff;
  border-radius: 20px;
  line-height: 1.4;
  letter-spacing: -.1px;
  padding: 12px;
  margin: 0;
}

.messages_item_time {
  color: rgba(0,0,0,.54);
  font-size: 11px;
  margin-left: 12px;
  margin-top: 5px;
  letter-spacing: -.1px;
}

.messages_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 56px;
}

.messages_no_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages_item_prev, .messages_item_next, .messages_item_middle {
  @extend .messages_item;
  padding-top: 5px;
}

.messages_item_prev, .messages_item_middle {
  .messages_item_text {
    border-top-left-radius: 5px;
  }
}
.messages_item_next, .messages_item_middle {
  .messages_item_text {
    border-bottom-left-radius: 5px;
  }
}

.messages_item__reply {
  @extend .messages_item;
  flex-direction: row-reverse;
  padding-right: 20px;
  .messages_item_avatar {
    display: none;
  }
  .messages_content {
    align-items: flex-end;
  }
  .messages_item_time {
    margin-left: auto;
    margin-right: 12px;
  }
  .messages_item_text {
    color: rgba(0,0,0,.87);
    background-color: #e0e0e0;
  }
}

.messages_item__reply_prev, .messages_item__reply_next, .messages_item__reply_middle {
  @extend .messages_item__reply;
  padding-top: 5px;
}

.messages_item__reply_prev, .messages_item__reply_middle {
  .messages_item_text {
    border-top-right-radius: 5px;
  }
}

.messages_item__reply_next, .messages_item__reply_middle {
  .messages_item_text {
    border-bottom-right-radius: 5px;
  }
}

.conversations {
  height: 100%;
  display: flex;
  flex-direction: column;
}